---
import BaseLayout from "../layouts/BaseLayout.astro";

layout: "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>Contact Me</h2>
  <p>
  Please email me at <a href="mailto:rishiagrawal2002@gmail.com">rishiagrawal2002@gmail.com</a>
  </p>
</BaseLayout>
