---
import BaseLayout from "../layouts/BaseLayout.astro";

layout: "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>Who am I?</h2>
  <p>
    I graduated last December from from the University of Maryland, College Park
    where I majored in computer science and minored in history.
  </p><p>
    I'm currently based in NYC, <a href="https://rishi.ag/resume"
      >looking for work</a
    >.
  </p>

  <p>
    <a href="https://www.rishi.ag/contact">My email</a>. Also find me on <a
      href="https://www.linkedin.com/in/rishiusa">LinkedIn</a
    > and <a href="https://github.com/banflam">Github</a>.
  </p>
</BaseLayout>
