---
import BaseLayout from "../layouts/BaseLayout.astro";

layout: "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>Projects</h2>
  <p>
  Work in progress. I'll be transferring them here.
  </p>
</BaseLayout>
