---
export let title: string;
import "../styles/global.css";
---

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Rishi Agrawal</title>
    <meta name="description" content="Rishi Nitin Agrawal's website" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1><a href="/" title="Rishi Nitin Agrawal">Rishi Agrawal</a></h1>

    <slot />
  </body>
</html>
