---
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <main class="wrapper">
      <article>
        <slot />
      </article>
    </main>
  </body>
</html>
