---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Rishi Nitin Agrawal's website" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <main class="wrapper">
      <article>
        <h1><a href="/" title="Rishi Nitin Agrawal">Rishi Agrawal</a></h1>
        <slot />
      </article>
    </main>
  </body>
</html>